<html>
<head>
    <meta charset="utf-8">
    <title>Круговая диаграмма</title>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Газ', 'Объём'],
                ['Азот',     78.09],
                ['Кислород', 20.95],
                ['Аргон',    0.93],
                ['Углекислый газ', 0.03]
            ]);
            var options = {
                title: 'Состав воздуха',
                is3D: true,
                pieResidueSliceLabel: 'Остальное'
            };
            var chart = new google.visualization.PieChart(document.getElementById('air'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>Welcome to counter</h1>
<div>
<form method="post">
    <textarea rows="10" cols="25" name="text" placeholder="Введите данные"></textarea>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Получить результат</button>
</form>
</div>
<a href="main">History</a>
<div>{{count}}
    <div id="air" style="width: 500px; height: 400px;"></div>
</div>

</body>
</html>